@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');

body{
    margin: 0;
    overflow-x: hidden;
}

*{
    font-family: 'Oswald', sans-serif;
}

header{
    background-color: #d2895f;
    background-image: linear-gradient(62deg, #ff8640 10%, #de9c50 50%, #bba05d 75%, #edd087 100%);
    height: 100px;
    transition: 2s;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 30px;
}

.header--links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    color: #eee;
    font-size: 2rem;
}

.header--links a{
    text-decoration: none;
    color: #eee;
}

header:hover{
    height:150px;
}

a{
    transition:1s
}

.header--links a:hover{
   letter-spacing:10px;
   font-size: 3rem;  
}

.header--logo{
    border-radius: 90px;
    box-shadow: 10px 10px 10px #000;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    width: 5%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:1s;

   
}

.header--logo--img{
    height: 70px;
    width: 70px;
    transition:1s;
}


.header--logo:hover > .header--logo--img{
    filter: invert(100%);
}

.header--logo:hover{
    transform: scale(1.4)

}


footer{
    background: rgb(60, 60, 60);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    color: rgb(143, 142, 142);
    padding: 2% 0;
    font-size:2rem;
    width: 100vw;
}

.footer--main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer--links{
    display:flex;
    flex-direction: column;
}

.footer--links a{
    transition: 0.5s;
}

.footer--links a:hover{
    color: #eee;
    transform: translateY(-10px);
}

.footer--contact{
    display:flex;
    flex-direction: column;
}

.footer--social{
    width: 80%;
    align-self: center;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.footer--social a{
    padding: 1%;
    border-radius: 90px;
    border: 0.5px solid #eee;
    height: 75px;
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer--social p{
    font-size:1rem;
    margin: 0;
    transition:1s;

}

.footer--social img{
    height: 50px;
    width: 50px;
    transition: 1s;
}


.footer--social a:hover >  img{
    filter: invert(100%);
    transform:rotate(360deg)
}

.footer--social a:hover >  p{
    font-size: 1.5rem;
    color:#eee;
}

footer a{
    text-decoration: none;
    color:rgb(143, 142, 142);

}

hr{
    margin: 0;
}


.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
    padding-top:3%;
    background: #d2895f;
}

.register--content{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register--content form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 550px;
    width: 100%;
    background: #eee;
    padding: 20px;
    border-radius:20px;
    margin-bottom: 16%;
    margin-top: 5%;
}

.login--content{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login--content form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 100%;
    background: #eee;
    padding: 20px;
    border-radius:20px;
    margin-bottom: 16%;
    margin-top: 5%;
}

.login--content input{
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    margin-bottom: 20px;
    transition:0.5s;
    padding: 10px;
}

.login--content input[type="submit"]{
    background: #d2895f;
    color: #eee;
}

.register--content input{
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    margin-bottom: 20px;
    transition:0.5s;
    padding: 10px;
}

.register--content input[type="submit"]{
    background: #d2895f;
    color: #eee;
}

.register--content input:hover{
    box-shadow: 10px 10px 10px rgb(72, 71, 71);
}

.register--logo{
    border-radius: 90px;
    box-shadow: 10px 10px 10px #000;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    width: 25%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition:1s;
}

.register--logo h1{
    margin: 0;
    margin-bottom: 10px;
}

.register--logo img{
    height: 120px;
    width: 120px;
    transition:1s;
}

.error{
    color: rgb(229, 45, 45);
}

.succes{
    color: rgb(62, 134, 11);
}

.explore{
    background: rgb(190, 155, 102);
    height: 1000px;
    width: 100%;
}





